<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <div class="container">
        <p>Hello </p>
        <p>Please click on below link to reset your password.</p>
        <a href="<%= url %>" target="_blank">Click on this link</a>
        <p>If you are not able to click above link then please follow below url and open it in a new tab.</p>
        <p><strong>Note: This link is valid for 2 hours only.</strong></p>
        <p><%= url %></p>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>